{% extends 'base.html' %}
{% load bootstrap %}
{% load i18n %}

{% block content %}
    <div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-body">
            <form enctype="multipart/form-data" action="" method="post">
                {% csrf_token %}
                {{ form|bootstrap }}
                <input type="submit" class="btn btn-primary" value="{% trans "Save" %}" />
            </form>
          </div>
        </div>
    </div>
    </div>
{% endblock %}